<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manajemen User</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-sky-100">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
  <div class="m-4">
    <div class="d-flex justify-content-center">
      <a th:href="@{/user/viewall-dokter}" class="mx-2 btn btn-primary">Lihat semua dokter</a>
    </div>
    <div class="my-3 d-flex justify-content-center">
      <a th:href="@{/user/viewall-apoteker}" class="mx-2 btn btn-primary">Lihat semua apoteker</a>
    </div>
    <a class="btn btn-primary d-flex justify-content-center" href="/static">Home</a>
  </div>
</div>

</body>
</html>