<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title> RumahSehat</title>
    <meta charset="UTF-8">
    <title> Apoteker </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body class="bg-sky-100">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
    <div class="card-body">
        <div class="justify-content-center">
            <h2>Detail Resep</h2>
            <div sec:authorize="hasAuthority('APOTEKER')">
                <span style="float: right;">
                    <a class="btn btn-danger" th:href="@{/}" style="width: 200px;">Konfirmasi Resep</a>
                </span>
            </div>
            <br>
            <p th:text="'ID Resep: ' + ${resep.id}" style="font-weight: bold;"></p>
            <p th:text="'Nama Dokter: ' + ${namaDokter}"></p>
            <p th:text="'Nama Pasien: ' + ${namaPasien}"></p>
            <p>Status Resep:
                <span>
                    <td th:if="${resep.isDone == false}" style="text-align: center">Not Done</td>
                    <td th:unless="${resep.isDone == false}" style="text-align: center">Done</td>
                </span>
            </p>
            <p th:text="'Nama Apoteker: ' + ${namaApoteker}"></p>

            <br>
            <h4>Daftar Obat</h4>
            <br>
            <div th:if="${listJumlahObat.size() != 0}">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="text-align: center;">No</th>
                        <th>Nama Obat</th>
                        <th style="text-align: center;">Jumlah</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="jumlahObat, iterationStatus : ${listJumlahObat}">
                        <td th:text="${iterationStatus.count}" style="text-align: center;"></td>
                        <td th:text="${jumlahObat.obat.nama_obat}"></td>
                        <td th:text="${jumlahObat.kuantitas}" style="text-align: center;"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <a class="btn btn-secondary" th:href="@{/resep/viewall}">Kembali</a>
        </div>
        </div>
    </div>
    </div>
</div>
</body>

</html>
