<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title> RumahSehat</title>
    <meta charset="UTF-8">
    <title> Apoteker </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body class="bg-sky-100">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <h2>Daftar Resep</h2>
          <br>
          <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
          <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
          <br>
          <table class="table">
            <thead>
            <tr>
              <th style="text-align: center">Id</th>
              <th style="text-align: center">Waktu Dibuat</th>
              <th style="text-align: center">Status</th>
              <th style="text-align: center">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="resep, iterationStatus : ${listResep}"
                th:style="${iterationStatus.even} ? 'font-weight:bold;'">
              <td th:text="${resep.id}" style="text-align: center" ></td>
              <td th:text="${#temporals.format(resep.createdAt, 'dd MMMM yyyy, HH:mm')}" style="text-align: center"></td>
              <td th:if="${resep.isDone == false}" style="text-align: center">Not Done</td>
              <td th:unless="${resep.isDone == false}" style="text-align: center">Done</td>
              <td style="align-items: center; text-align: center;">
                <div class="col" sec:authorize="hasAuthority('Apoteker')">
                  <a th:href="@{/detail-resep/} + ${resep.id}" class="btn btn-secondary">Detail Resep</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <br>
          <a class="btn btn-primary" href="/">Home</a>
        </div>
      </div>
    </div>
  </div>
  

</body>

</html>